<a href="{{ htmlWebpackPlugin.options.download_button.link }}">
  <div class="btn btn-primary btn-lg mt-3">{{ htmlWebpackPlugin.options.download_button.label }}</div>
</a>
<!-- <button class="btn btn-outline-secondary btn-lg mt-3" onclick="location.href='https://github.com/agentyzmin/kyiv-transport-icons';">Fork on Github</button> -->
<div class="text-muted" style="margin-top: 10px; font-size: 13px;">{{ htmlWebpackPlugin.options.archive_size }}, формати SVG та PNG</div> 
