<div class="top-section section col-12 col-lg-8 col-sm-10 mx-auto center">
  <img id="logo-carousel" src="assets/svg/Metro Logo.svg"
       title="" alt="Icon carousel"
       style="height: 100px; margin-bottom: 20px;">
  <h1 class="page-title">Транспортні іконки Києва</h1>
  <p>Версія 2.0</p>
  <p class="col-sm-12 col-lg-10 offset-lg-1 lead">Логотип метро, міської електрички, фунікулеру та інші іконки транспорту, що ми викоритовуємо для створення єдиної транспортної навігації. Безкоштовно. З&nbsp;вільною ліцензією.</p>

  {{> download-button }}

  {{> social-buttons }}

  {{> license }}
</div>
