<footer class="footer">
  <div class="">
    <div class="row col-lg-10 offset-lg-1">
      <div class="col">
        <!-- <span class="text-muted"></span> -->
        <span style="margin-left: 5px;">
          2018. Зробили <a href="http://a3.kyiv.ua">Агенти змін</a>. 
          <a href="http://a3.kyiv.ua/donate/">Підтримати</a> · 
          <a href="https://facebook.com/agentyzmin">Facebook</a> · 
          <a href="https://instagram.com/agentyzmin">Instagram</a> · 
          <a href="https://www.youtube.com/channel/UCo99u1nJ7hkVvuWcGbL-pGQ">Youtube</a> · 
          <a href="http://blog.a3.kyiv.ua">Блог</a>
        </span>
      </div>
    </div>
  </div>
</footer>
