<div class="col-lg-10 offset-lg-1">
  <a href="http://a3.kyiv.ua" style="text-decoration: none;">
    <img src="assets/a3-logo-small-black.svg" width="35" height="35" alt="" ><span style="margin-left: 10px; margin-top: 5px; font-size: 16px; color: #000; font-weight: 800;">Агенти змін</span>
  </a>
</div>
