<div class="license center">
  <div class="col-12">
	   <img src="assets/cc-by.svg" width="30" height="30" alt="Creative Commons Attribution International" />
	   <img src="assets/cc-nd.svg" width="30" height="30" alt="Creative Commons Attribution-NoDerivatives" />
  </div>
  <div class="col-12" style="font-size: 12px; margin-top: 10px;">
		<p>Creative Commons Attribution-NoDerivatives 4.0 International.<br/> 
      Допомогли 
      <a href="#">Костянтин Череповський</a> та 
      <a href="#">Олександр Зайцев</a>. <!-- та 
      <a href="#">Антон Жуков</a>. -->
    </p> 
		<p><a href="https://github.com/agentyzmin/kyiv-transport-icons" style="margin-right: 10px;"><img src="assets/github.svg" height="12px" style="margin-right: 4px;">Fork on Github</a>·<a href="mailto:icons@a3.kyiv.ua" alt="Для вігуків та пропозицій пишіть на пошту" style="margin: 0 10px;"><img src="assets/mail.svg" style="margin-right: 3px;">icons@a3.kyiv.ua</a>·<a href="https://readymag.com/igor/kyiv-icons/" style="margin-left: 10px;">Версія 1.0</a></p>
	</div>
</div>
