<div class="likely" style="margin-top: 30px;">
    <div class="facebook">Поширити</div>
    <div class="twitter">Твітнути</div>
    <div class="gplus">+1</div>
    <div class="pinterest">Запінити</div>
    <div class="telegram">Надіслати</div>
</div>
