<div class="section">
	<h2 class="center mb-5">Що всередині</h2>
	<div class="row col-sm-12 col-lg-10 offset-lg-1">
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Metro Logo.svg" alt=""><div class="card-text">Метро</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Urban Rail Logo.svg" alt=""><div class="card-text">Міська електричка</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Metro M1.svg" alt=""><div class="card-text">Червона лінія метро</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Metro M2.svg" alt=""><div class="card-text">Синя лінія метро</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Metro M3.svg" alt=""><div class="card-text">Зелена лінія метро</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Metro M4.svg" alt=""><div class="card-text">Четверта лінія метро (на&nbsp;Троєщину)</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Tram.svg" alt=""><div class="card-text">Трамвай</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Bus.svg" alt=""><div class="card-text">Автобус</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Trolley.svg" alt=""><div class="card-text">Тролейбус</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Marshrutka.svg" alt=""><div class="card-text">Маршрутка</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Funicular.svg" alt=""><div class="card-text">Фунікулер</div></div>
    <div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Funicular Logo.svg" alt=""><div class="card-text">Фунікулер (логотип)</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Train.svg" alt=""><div class="card-text">Залізниця</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Airport.svg" alt=""><div class="card-text">Аеропорт</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Railway Station.svg" alt=""><div class="card-text">Залізничний вокзал</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Bus Station.svg" alt=""><div class="card-text">Автовокзал</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Port.svg" alt=""><div class="card-text">Порт</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Bike.svg" alt=""><div class="card-text">Велотранспорт</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Bike Stencil.svg" alt=""><div class="card-text">Велотранспорт (трафарет)</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Disabled.svg" alt=""><div class="card-text">Людина з інвалідністю</div></div>
		<div class="center col-6 col-sm-3 col-lg-2 mb-4"><img class="icons" src="assets/svg/Pedestrian.svg" alt=""><div class="card-text">Пішохід</div></div>


		<!-- <div class="icon-card center col-lg-2"><img src="svg/" alt=""><div class="card-text"></div></div> -->
	</div>
</div>
